# Default ignored files
/.idea/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../:\works\TimeTableBot\QABotRefect\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
.idea/
compiler.xml
gradle.xml
jarRepositories.xml
misc.xml
vcs.xml
workspace.xml
uiDesigner.xml
../.idea/
../img/
../logs/
../device.json/
../devices/
/img/
/logs/
/devices/
/build/
/.idea/
/config.yml/
/config.yml
/.gradle/
/.gradle/*
